.container {
	margin: 0 auto;
	max-width: 1200px;
}
.row {
	float: left;
	width: 300%;
	padding: -10px 0 10px;
}

:focus {
	outline: none;
}
.col-3 {
	/*float: left;*/
	width: 33.33%;
	margin: 26px 0%;
	position: relative;
}



.effect-16{
	border: 0;
	padding: 4px 0;
	border-bottom: 1px solid #000000;
	background-color: transparent;

}
.effect-16~.focus-border {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 1px;
	background-color:#000000;
	transition: 0.4s;
}
.effect-16:focus~.focus-border,
.has-content.effect-16~.focus-border {
	width: 100%;
	transition: 0.4s;
}
.effect-16~label {
	position: absolute;
	left: 0;
	width: 100%;
	top: 5px;
	/*color: #aaa;*/
	color:#000000;
   
	transition: 0.3s;
	z-index: -1;
	letter-spacing: 0.5px;
}
.effect-16:focus~label,
.has-content.effect-16~label {
	top: -16px;
	font-size: 12px;
	color: #000000;
	transition: 0.3s;
	 font-weight: bold;
}
